<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>
    {% set titleBlock = block("title") %}
    {% if titleBlock is not empty %}
      {% block title %}{% endblock %} |
    {% endif %}
    {{ app.currentSite.title }}
  </title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/png" href="/theme/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# biblys assets #}
  {% include "layout:_assets_css.html.twig" %}

  <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}" />

  {% include "layout:_analytics.html.twig" %}
</head>

<body>
  {% include "layout:_overall_menu.html.twig" %}
  {% include "layout:_flash_messages.html.twig" %}

    <div id="wrapper" class="container">

        <a href="/">
            <header id="header" class="hidden-print">
            </header>
            <header id="header-mobile" class="hidden-print">
                <img src="/theme/header-mobile.jpg" alt="Dystopia" />
            </header>
        </a>

        <nav id="menu" class="navbar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
                <i class="fa fa-bars"></i> Menu
              </button>
            </div>

            <div class="collapse navbar-collapse" id="collapse-menu">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href="/blog/">L'Actu</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Papier <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/rayon/romans-et-nouvelles">Romans & nouvelles</a></li>
                        <li><a href="/rayon/non-fiction">Non-Fiction</a></li>
                        <li><a href="/rayon/le-dystographe">Le Dystographe</a></li>
                        <li><a href="/rayon/jyderie">Jydérie</a></li>
                        <li><a href="/rayon/collectors">Collectors</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/rayon/a-paraitre">À paraître</a></li>
                        <li><a href="/rayon/en-souscription">En souscription</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Numérique <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/rayon/eromans-et-nouvelles">eRomans & nouvelles</a></li>
                        <li><a href="/rayon/enon-fiction">eNon-Fiction</a></li>
                        <li><a href="/rayon/ejyderie">eJydérie</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/rayon/gratuit">Gratuit</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diffusion <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/rayon/le-visage-vert-revue">Le Visage Vert (revue)</a></li>
                        <li><a href="/rayon/le-visage-vert-romans-recueils-novellas-essais">Le Visage Vert (romans, recueils, novellas, essais)</a></li>
                        <li><a href="/rayon/les-regles-de-la-nuit">Les Règles de la nuit</a></li>
                        <li><a href="/rayon/scylla">Editions Scylla</a></li>
                        <li><a href="/rayon/callidor">Callidor</a></li>
                      </ul>
                    </li>
                    <li role="presentation"><a href="/pages/dons">Dons</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    <li role="presentation">
                      <a href="https://www.facebook.com/dystopia.workshop/"><span class="fa fa-facebook-f"></span></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/dystopia.workshop/"><span class="fa fa-instagram"></span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="search-box hidden-print">
          <form class="search-form" action="/articles/search">
            <input type="text" class="search-field" placeholder="Rechercher dans le catalogue Dystopia &amp; diffusés" name="q">
            <button class="btn btn-default btn-sm search-button" type="submit"><i class="fa fa-search"></i> Recherche</button>
            <span id="myCart">{{ cart_status()|raw }}</span>
          </form>
        </div>

        <div id="content" class="container">
          {% block main %}{% endblock %}
        </div>

    </div>

    <footer class="site-footer">
      <div class="footer-block footer-links">
        <ul>
          <li><a href="/pages/mentions-legales">Mentions légales</a></li>
          <li><a href="/pages/conditions-generales-de-vente">Conditions générales de vente</a></li>
        </ul>
      </div>

      <div class="footer-block footer-biblys-logo">
        <a href="https://www.biblys.fr/" target="_blank" rel="noreferrer noopener">
          <img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys" class="biblys-logo">
        </a>
      </div>

      <div class="footer-block footer-newsletter">
        <p>Recevoir notre newsletter :</p>
        <form class="center" method="post" action="/mailing/subscribe">
          <fieldset>
            <input type="email" name="email" placeholder="Votre adresse e-mail" class="form-control">
            <input class="btn btn-info btn-sm btn-block" type="submit" value="S'abonner">
          </fieldset>
        </form>
      </div>
    </footer>

    {% include "layout:_assets_js.html.twig" %}
</body>

</html>
