<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>
    {% set titleBlock = block("title") %}
    {% if titleBlock is not empty %}
      {% block title %}{% endblock %} |
    {% endif %}
    {{ app.currentSite.title }}
  </title>
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/png" href="/theme/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" title="Le blog Dystopia" href="/feeds/blog.rss.xml" />

  {# biblys assets #}
  {% include "layout:_assets_css.html.twig" %}

  <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}" />

  {% include "layout:_analytics.html.twig" %}
</head>

<body>
  {% include "layout:_overall_menu.html.twig" %}

    <div id="wrapper" class="container">

        <a href="/">
            <header id="header" class="d-print-none">
            </header>
            <header id="header-mobile" class="d-print-none">
                <img src="/theme/header-mobile.jpg" alt="Dystopia" />
            </header>
        </a>

        <nav id="menu" class="navbar navbar-expand-lg navbar-light">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-menu" aria-controls="collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> Menu
            </button>
          </div>

          <div class="collapse navbar-collapse" id="collapse-menu">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/blog/">L'Actu</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPapier" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Papier
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPapier">
                  <a class="dropdown-item" href="/rayon/romans-et-nouvelles">Romans & nouvelles</a>
                  <a class="dropdown-item" href="/rayon/non-fiction">Non-Fiction</a>
                  <a class="dropdown-item" href="/rayon/le-dystographe">Le Dystographe</a>
                  <a class="dropdown-item" href="/rayon/jyderie">Jydérie</a>
                  <a class="dropdown-item" href="/rayon/collectors">Collectors</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/rayon/a-paraitre">À paraître</a>
                  <a class="dropdown-item" href="/rayon/en-souscription">En souscription</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNumerique" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Numérique
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownNumerique">
                  <a class="dropdown-item" href="/rayon/eromans-et-nouvelles">eRomans & nouvelles</a>
                  <a class="dropdown-item" href="/rayon/enon-fiction">eNon-Fiction</a>
                  <a class="dropdown-item" href="/rayon/ejyderie">eJydérie</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/rayon/gratuit">Gratuit</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDiffusion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Diffusion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDiffusion">
                  <a class="dropdown-item" href="/rayon/le-visage-vert-revue">Le Visage Vert (revue)</a>
                  <a class="dropdown-item" href="/rayon/le-visage-vert-romans-recueils-novellas-essais">Le Visage Vert (romans, recueils, novellas, essais)</a>
                  <a class="dropdown-item" href="/rayon/les-regles-de-la-nuit">Les Règles de la nuit</a>
                  <a class="dropdown-item" href="/rayon/scylla">Editions Scylla</a>
                  <a class="dropdown-item" href="/rayon/callidor">Callidor</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pages/dons">Dons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feeds/blog.rss.xml"><span class="fa fa-rss-square"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/dystopia.workshop/"><span class="fa fa-facebook-square"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/dystopia.workshop/"><span class="fa fa-instagram"></span></a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="search-box d-print-none">
          <form class="search-form" action="/articles/search">
            <input type="text" class="search-field" placeholder="Rechercher dans le catalogue Dystopia &amp; diffusés" name="q">
            <button class="btn btn-light btn-sm search-button" type="submit"><i class="fa fa-search"></i> Recherche</button>
          </form>
        </div>

        <div id="content" class="container">
          {% include "layout:_flash_messages.html.twig" %}

          {% block main %}{% endblock %}
        </div>

    </div>

    <footer class="site-footer">
      <div class="footer-block footer-links">
        <ul>
          <li><a href="/pages/mentions-legales">Mentions légales</a></li>
          <li><a href="/pages/conditions-generales-de-vente">Conditions générales de vente</a></li>
        </ul>
      </div>

      <div class="footer-block footer-newsletter">
        <p>Recevoir notre newsletter :</p>
        <form class="center" method="post" action="/mailing/subscribe">
          <fieldset>
            <input type="email" name="email" placeholder="Votre adresse e-mail" class="form-control">
            <input class="btn btn-info btn-sm btn-block" type="submit" value="S'abonner">
          </fieldset>
        </form>
      </div>
    </footer>

    <p class="powered-by">
      propulsé par <a href="https://biblys.org">biblys</a> · logiciel libre
    </p>

    {% include "layout:_assets_js.html.twig" %}
</body>

</html>
