@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html {
  font-size: 16px;
}

body {
    background-image: url('/theme/header.jpg'), url('/theme/background.jpg');
    background-position: top 38px center, top left;
    background-repeat: no-repeat, repeat;
    font-family: 'Roboto Slab', Georgia, serif;
}

i.fa {
    margin-right: 3px;
}

/* LAYOUT */

#wrapper {
    margin-top: 38px;
    max-width: 768px;
    width: 100%;
}

#header {
    height: 265px;
}

#header-mobile {
    display: none;
}

#menu {
    font-size: 1.2rem;
    margin-bottom: 0;
}

#menu .navbar-header {
    color: black;
}

@media(min-width: 768px) {
  #menu .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

#menu .navbar-collapse {
    box-shadow: none;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

#menu a {
    color: #e2c888;
    opacity: 0.9;
}

#menu a:hover {
    color: #428bca;
    opacity: 1;
}

#menu .dropdown-menu a {
  color: #428bca;
}

#menu a.btn {
    color: white;
}

#menu a.btn.btn-default {
    color: black;
}

#menu .cart {
    float: right;
    padding-right: 10px;
}

.nav > li > a {
    padding: 5px 6px;
}

#menu .navbar-toggle {
    color: white;
    float: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#menu.navbar-fixed-top {
  background-image: url('/dystopia/images/noise.png');
  margin: auto;
  max-width: 768px;
  padding-left: 10px;
  padding-top: 10px;
}

.search-box {
  font-size: 1.2em;
  text-align: center;
  transform: translateY(-12px);
}

.search-box .search-field {
  padding: 0px 4px;
  margin-bottom: 5px;
  width: 95%;
}

#content {
    background-color: white;
    padding-bottom: 15px;
    max-width: 100%;
}

/* Footer */

.site-footer {
  background: white;
  font-size: 1rem;
  padding: 16px;
  margin: 16px auto 0;
  max-width: 738px;
}

@media(min-width: 768px) {
  .site-footer {
    align-items: end;
    display: flex;
    justify-content: space-between;
  }

  .site-footer .footer-block {
    width: 235px;
  }

  .site-footer .footer-biblys-logo {
    text-align: center;
  }
}

/* Posts */

.post {
    margin: 20px 0;
}

.post .header,
.post .post-header {
    padding: 10px 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #069;
    background-color: #09c;
}

.post .header a,
.post .post-header a {
    color: black;
}

.post .content,
.post .post-content {
    padding: 0 10px;
}

.post .header .title,
.post .post-header h1,
.post .header p,
.post .post-header p {
    margin: 0;
}


.post img:first-child,
.post .illustration {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

/* Page */

.page footer {
  font-size: .8em;
  opacity: .75;
  text-align: right;
}

/* Article list */

.article-list article {
    min-height: 250px;
    margin: 25px 0;
    overflow: auto;
}

.article-list h2 {
    background-color: #09C;
    border-bottom: 2px solid #069;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.article-list a:hover {
    text-decoration: none;
}

.article-list .cover {
    border: 5px solid #AAA;
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
    max-height: 200px;
}

/* Article page */

.article .cover {
    border: 5px solid #AAA;
    margin-top: 15px;
}

.article .subtitle {
    font-size: 1.2em;
}

.article .cycle {
    font-size: 1.1em;
}

.article .authors {
    font-size: 1.3em;
}

.article h2 {
    font-size: 20px;
}

.article ul {
    font-size: 0.95em;
    list-style-type: disc;
    padding-left: 25px;
}

.article .share-buttons {
  padding: 0;
  text-align: center;
}

.article .article-posts {
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 25px;
}

.article .article-post {
  margin-bottom: 15px;
}

.article .article-post p {
  margin-bottom: .25em;
}

/* Contributor */

.contributor__photo {
  max-width: 100%;
}

@media (min-width: 768px) {
  .contributor__photo {
    margin-right: 16px;
    max-width: 33%;
    object-fit: contain;
  }
}

/* Biblys */

.biblys {
    background-color: white;
    display: block;
    margin: 15px auto;
    padding: 5px;
}

.big {
    font-size: 2em;
}

.crowdfunding-aside > div {
    padding: 10px;
    background: whiteSmoke;
    border-radius: 10px;
    margin-bottom: 10px;
}

.crowdfunding-aside .progress {
    background: lightgray;
}

.crowdfunding-aside article {
    padding: 10px;
    text-align: left;
    border-top: 1px solid lightgray;
    font-size: 0.9em;
}

.crowdfunding-aside .price {
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 15px 0;
}


/* Smaller than tablets */

@media (max-width: 767px) {

    body {
        background-image: url('/theme/background-mobile.jpg');
        background-repeat: repeat;
    }

    #wrapper {
        margin-top: 0;
        padding: 0;
    }

    #header {
        display: none;
    }

    #header-mobile {
        display: block;
        width: 100%;
    }

    #header-mobile img {
        width: 100%;
    }

    #menu {
        border: none;
        margin-bottom: 0;
    }

    #menu .navbar-nav {
        padding-bottom: 15px;
        margin: 0;
    }

    #menu .cart {
        margin-right: 10px;
    }

    #menu .navbar-header {
        margin-left: 10px;
    }

    .article-list .article {
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .article-list .cover {
        float: none;
        display: block;
        margin: auto;
    }

    .article-list .btn {
        display: block;
        margin-bottom: 5px;
    }

    .article .cover {
        max-height: 250px;
        display: block;
        margin: 10px auto;
    }
}


/* Portrait tablet and bigger */

@media(min-width: 768px) {
  .search-box .search-field {
    display: inline-block;
    transform: translateY(3px);
    width: calc(100% - 300px);
  }
}
