{% extends "layout:base.html.twig" %}

{% block main %}

  {% for post in posts %}

    {% include 'AppBundle:Post:show.html.twig' %}

  {% endfor %}

  <p class="text-center">
    <a href="/blog/actualite/?p=1">Billets plus anciens</a>
  </p>
{% endblock %}
